# See http://about.travis-ci.org/docs/user/build-configuration/
language: scala
scala:
   - 2.11.2
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - me+travis@codejitsu.net
jdk:
  - oraclejdk7
  - oraclejdk8
